body{
    background-color: white;
}

.container{
    display: none;
}

.top{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.logo{
    height: 53px;
    width: 75px;
    top: 16px;
    left: 22px;
}
.bottom-bar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.send{
    height: 30px;
    width: 310px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}

.sendOutline{
    font-size: 26px;
}

.chat{
    height: 100vh;
    padding-top: 106px;
    padding-bottom: 84px;
    dis
}