
.container{
    width: 375px;
    height: 1000px;
    background-color: black;
}
.topo{
    height: 80px;
    width: 375px;
    top: 0px;
    left: 0px;
    background-color: aqua;
}
.barra-inf{
    height: 80px;
    width: 375px;
    bottom: 0px;
    left: 0px;
    color: blue;
}